body {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    background: #504B4A;
    font-family: 'Open Sans', sans-serif;
    background-image: url('https://source.unsplash.com/1600x900/?city');
    background-size: cover;
    overflow:hidden;
    background-repeat: no-repeat;
    

}

.card {
    background: #000000d0;
    opacity: 85%;
    color: white;
    padding: 10px;
    width: 100%;
    height: auto;
    border-radius: 25px;
    max-width: 300px;
    margin: 100px;
}

.search {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2.5em;
}

button {
    border: none;
    outline: none;
    background: #000000d0;
    color: white;
    box-shadow: inset 0 0 0 0 #808080;
    border-radius: 30px;
    transition: ease-out 1s;
    height: 36px;
    width: 36px;
    cursor: pointer;
}

button:hover {
    box-shadow: inset 36px 0 0 0 #808080;
}

input.search-bar {
    height: 2em;
    width: 65%;
    border-radius: 25px;
    border: none;
    outline: none;
    margin: 0.7em;
    background: #000000d0;
    font-family: inherit;
    color: white;
}

.city_name {
    font-family: 'Courier New'
}

.flex-box {
    display: flex;
    text-align: center;
    align-items: center;
}



